:root {
  --yellow: #ECE924;
  --purple: #7B24ED;
  --red: #ED2442;
  --white: #FFF7D9;
  --gray: #7a1432;
  --black: #240C54;
}

@font-face {
    font-family: 'Gidole';
    src: url('../fonts/Gidole-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.text-center {
  text-align: center;
}

body {
  font-family: 'Gidole';
  margin: 0;
  padding: 0;

  background-image: url('../img/bg6.png');
}

header {
  position: static;
  top: 0;
  left: 0;
}

nav {
  width: 40%;
  margin: 0 auto;
  padding: 1px 15px 1px 15px;
  border-radius: 10px;
  
  background-color: var(--black);
  box-shadow: 10px 10px 5px 0px rgba(6,3,33,0.75);
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quote {
  background: var(--gray);
  font-style: italic;
  padding: 5px;
}

.legend {
  padding-left: 10px;
  font-style: italic;
}

h1 {
  color: var(--yellow);
}

main, footer {
  width: 100%;

  display: flex;
  justify-content: center;
}

.content {
  width: 40%;
  border-radius: 10px;

  color: var(--white);
  text-align: justify;
  hyphens: auto;

  background-color: var(--black);

  padding: 15px;
  box-shadow: 10px 10px 5px 0px rgba(6,3,33,0.75);
}

footer {
  height: 30px;
  margin: 10px auto;
  align-items: center;
}

footer > .langs {
  width: 50%;
}

.links {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

a {
  color: var(--yellow);
  text-decoration: none;
}

.links > a:visited {
  color: var(--purple);
}

a:hover {
  color: var(--purple);
  transition: 0.5s;
}

.langs > a {
  text-decoration: none;
}

.content > h2 {
  color: var(--white);
  text-align: center;
}

.img {
  width: 100%;
}

/* Responsividade */
@media (max-width: 600px) {
  nav {
    width: 70%;
  }

  .content {
    width: 70%;
  }

  .links {
    width: 30%;
  }
}
